.header {
  background-image: url(/web-layout-training-vite-main/assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
  text-align: center;
}

.text-white {
  color: $neutral-0;
}

.eng-title {
  font-size: 28px;
}
